@font-face {
    font-family: "Poppins-Bold";
    src: url("/Poppins-Bold.ttf") format("truetype");
  }

.events {
    width: 100dvw;
    height: 2000px;
    background-color: #060609;
    color: white;
}

.eventsContent {
    display: flex;
    width: 100dvw;
    flex-direction: column;
    margin-top: 80px;
}

.eventsHeader {
    display: flex;
    width: 100dvw;
    text-align: center;
    justify-content: center;
    font-size: 3em;
    color: rgb(43, 252, 207);
    font-family: "Poppins-bold";
}

.eventsImages {
    width: 100dvw;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.eventsImageRow {
    display: flex;
    gap: 32px;
}

.eventImage {
    width: 500px;
    height: 400px;
    border-radius: 2px;
}

.eventsSection {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 32px;
}

.eventsText {
    width: 60dvw;
    font-size: 1.5em;
    line-height: 2em;

}

@media only screen and (max-width: 1100px) {
    .eventsImageRow {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .eventImage {
        width: 400px;
        height: 300px;
    }
}