@font-face {
    font-family: "Poppins";
    src: url("/Poppins-Regular.ttf") format("truetype");
  }

.FaqHeader {
    display: flex;
    width: 40dvw;
    text-align: center;
    border: white;
    border-style: solid;
}

.FaqTitle {
    font-family: "Poppins";
    font-size: 2.5em;
    width: 40dvw;
}

button {
    border: none;
    background-color: #060609;
    color: white;
}

.FaqClosed {
    width: 40dvw;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.FaqOpen {
    width: 40dvw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5dvh;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 5dvh;
}

@media only screen and (max-width: 1200px) {
    .FaqTitle {
        height: 180px;
        text-align: center;
    }
    .FaqHeader {
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }

}


@media only screen and (max-width: 800px) {
    .FaqClosed {
        width: 80dvw;
        
    }
    .FaqOpen {
        width: 80dvw;
        text-wrap: wrap;
    }
    .FaqTitle {
        height: 20dvh;
        text-align: center;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .FaqHeader {
        width: 80dvw;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }

}