

.navBar {
    display: flex;
    max-width: 100dvw;
    justify-content: space-between;
    padding-left: 10dvw;
    padding-right: 10dvw;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #060609;
    backdrop-filter: blur(10px);
    background-color: rgba(236, 236, 236, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 20px 0px;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navLinks {
    display: flex;
    gap: 48px;
}

ul {
    list-style-type: none;
}

Link {
    color: #060609;
    text-decoration: none;
}
a {
  color: #060609;
  text-decoration: none;  
}


.animated {
    background: radial-gradient(
      circle at 100%,
      #b2a8fd,
      #8678f9 50%,
      #c7d2fe 75%,
      #9a8dfd 75%
    );
    font-weight: 600;
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 1.5s linear infinite;
  }
  
  @keyframes animatedTextGradient {
    to {
      background-position: 200% center;
    }
  }
