

.navBar {
    display: flex;
    max-width: 100dvw;
    justify-content: space-between;
    padding-left: 10dvw;
    padding-right: 10dvw;
    padding-top: 32px;
    padding-bottom: 32px;
    color: white;
    backdrop-filter: blur(10px);
    background-color: rgba(18, 18, 26, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 20px 0px;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navLinks {
    display: flex;
    gap: 48px;
}

ul {
    list-style-type: none;
}