.sectionThree {
    width: 100dvw;
    height: 700px;
    color: white;
    display: flex;
}

.sectionThreeContent {
    display: flex;
    width: 100dvw;
    justify-content: center;
    gap: 40px;
}

.sectionThreeImage {
    max-width: 600px;
    position: relative;

    margin-top: -10%;
    border-radius: 12px;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
}

.sectionThreeImageOverlap {
    z-index: 3;
    position: relative;
    bottom: 400px;
    left: 44px;
    max-width: 600px;
    border-radius: 12px;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
}

.sectionThreeLeft {
    margin-left: 10dvw;
    width: 40dvw;
    height: 50dvh;
}

.sectionThreeRight {
    width: 40dvw;
    margin-right: 10dvw;
    margin-bottom: 10dvh;
}

.sectionThreeHeader {
    font-size: 3em;
    line-height: 1.2em;
}

.sectionThreeText {
    line-height: 2em;
    margin-top: 32px;
}





@media only screen and (max-width: 1200px) {
    .sectionThree {
        height: 900px;
    }
    .sectionThreeContent {
        margin-top: 30dvh;
    }
    
    .sectionThreeImage {
        width: 300px;
    }
    .sectionThreeImageOverlap {
        position: static;
        width: 300px;
    }
    .sectionThreeRight {
        margin-bottom: 20dvh;
    }
}

@media only screen and (max-width: 700px) {
    .sectionThree {
        height: 1500px;
    }
    .sectionThreeContent {
        margin-top: 30dvh;
    }
    .sectionThreeLeft {
        margin-left: 10dvw;
        width: 0;
        height: 50dvh;
    }

    .sectionThreeRight {
        margin-top: 70dvh;
        width: 100dvw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


