@font-face {
    font-family: "Poppins-Bold";
    src: url("/Poppins-Bold.ttf") format("truetype");
  }

.sectionOne {
    max-width: 100dvw;
    max-height: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 10dvh;
    color: white;

}

.sectionOneContent {
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: center;
}

.sectionOneHeader {
    font-family: "Poppins-bold";
    font-size: 3em;
    font-weight: 600;
    line-height: 1.2em;
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sectionOneText {
    display: flex;
    padding-top: 48px;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.7em;
    max-width: 700px;
    flex-wrap: wrap;
    text-wrap: wrap;
}

.aqua {
    color:rgb(43, 252, 207);
}


.sectionOneButton {
    width: 112px;
    height: 40px;
    background-color: rgb(43, 252, 207);
    border-radius: 4px;
    color: black;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-weight: 600;
    margin-top: 24px;
    box-shadow: 1px 1px 1px 1px rgba(43, 252, 207, 0.5);
    margin-bottom: 80px;
    transition: box-shadow 0.15s;
}

.sectionOneButton:hover {
    box-shadow: 0px 0px 5px 5px rgba(43, 252, 207, 0.5); 
}

.sectionOneImage {
    border-radius: 2%;
    max-height: 600px;
    max-width: 80dvw;
    z-index: 10;
}

.glowOne {
    position: absolute;
    bottom: 40%;
    right: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    border-color: rgba(43, 252, 207, 0.5);
    background-color: rgba(43, 252, 207, 0.5);
    box-shadow:
        0 0 500px 300px rgba(43, 252, 207, 0.3);
}

.glowTwo {
    position: absolute;
    bottom: -250%;
    left: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    border-color: rgba(43, 252, 207, 0.5);
    background-color: rgba(43, 252, 207, 0.5);
    box-shadow:
        0 0 500px 300px rgba(43, 252, 207, 0.3);
}

.glowThree {
    position: absolute;
    bottom: -320%;
    left: 100%;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    border-color: rgba(43, 252, 207, 0.5);
    background-color: rgba(43, 252, 207, 0.5);
    box-shadow:
        0 0 500px 300px rgba(43, 252, 207, 0.3);
}
